<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/yummicon-pro/100/063_Hamburger-512.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Burger</title>
	<script src="/bundle.js"></script>
	<style>
		.container {
			margin-top: 3em;
		}
		.sort.up::after {
			content: ' ↑'
		}
		.sort.down::after {
			content: ' ↓'

		</style>
		<base href="/">
	</head>
	<body ng-app="app">

		<ng-view></ng-view>


<!-- 		<div ng-controller="MyController as $ctrl">

			<dta-gravatar email="$ctrl.mail" on-talk="$ctrl.talk($event)"></dta-gravatar>

		</div>
	-->
<!-- 		<a href="/burger">BURGERS</a>
		<a href="/game">PLAY</a>
		<div ng-view></div> -->

<!-- 		<div class="container" ng-controller="TabsController as $ctrl2">


			<ul class="nav nav-tabs"  >
				<li  ng-repeat="tab in $ctrl2.tabs track by $index" 
				ng-class="{'active':$ctrl2.tab === $index}">
				<a href ng-click="$ctrl2.changeTab($index)">{{tab.title}}</a>
			</li>
			<li class="pull-right">
				<div class="btn-group">
					<button ng-click="$ctrl2.navigateTab(-1)"
					class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-chevron-left"></span>                    
				</button>
				<button ng-click="$ctrl2.navigateTab(+1)"
				class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</li>
</ul>

<ng-include 
ng-repeat="tab in $ctrl2.tabs track by $index"
ng-if="$ctrl2.tab === $index"
src="$ctrl2.getTemplate(tab)">

</ng-include> -->


</div>

</body>
</html>
